@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jersey 20', sans-serif;
}

canvas {
  background-color: black;
}